<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--TODO:开启包扫描-->
    <context:component-scan base-package="com.itheima"></context:component-scan>
    <!--TODO:====================Spring整合Mybatis======================-->

    <!--TODO:解析properties文件-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>

    <!-- TODO:配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${db.driver}"></property>
        <property name="jdbcUrl" value="${db.url}"></property>
        <property name="user" value="${db.username}"></property>
        <property name="password" value="${db.password}"></property>
    </bean>

    <!--TODO:此对象会创建dao接口的所有实现类,并存放到IOC容器中 -->
    <bean class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--TODO:指定连接池-->
        <property name="dataSource" ref="dataSource"></property>
        <!--TODO:给包下所有的类起别名
                               TODO 别名称为,类的类名称,不区分大小写-->
        <property name="typeAliasesPackage" value="com.itheima.pojo"></property>

        <!-- TODO:配置Mybatis核心配置文件的位置 -->
        <property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
    </bean>



    <!--TODO:配置sql映射文件的位置-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- TODO:配置sql映射文件:
             TODO:   sql映射文件的路径要与接口路径保持一致
             TODO:   sql映射文件的名称要与接口名称保持一致
             TODO:配置sql注解:
             TODO:   直接在接口中的方法上添加注解
         -->
        <property name="basePackage" value="com.itheima.dao"></property>
    </bean>

    <!--TODO:=================Spring-AOP声明事物=============================-->
    <!--TODO：配置事物管理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--配置事物的相关属性和传播行为-->
    <tx:advice id="myAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="/**" propagation="REQUIRED" read-only="false"/>
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="query*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--织入-->
    <aop:config>
        <aop:pointcut id="pt" expression="execution(* com.itheima.service.*.*.*(..))"></aop:pointcut>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="pt"></aop:advisor>
    </aop:config>

</beans>